BUNNY_API_KEY=key
BUNNY_LIBRARY_ID=id



# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="mysql://bb-user:password@localhost:3306/rr-content"
DATABASE_URL="mysql://user:password@localhost:3306/db_name"
NEXT_PUBLIC_APP_URL=app_url